/*global scale (I wanna say investigation)*/
a{
  all:unset;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:darkgreen;
}

#my_body_is_a_grid {
  display: grid;
  place-items: center;
  /*this is a simple way to put everything neatly in the middle, i like it*/
}

/*nav*/
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #a1b2c3;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 1s;
  margin-left:50px;
}

.nav-link:hover {
  color: lightgreen;
  background-color: #7E8D9C;
}

/*hello!*/
#welcome-section {
  top: 0;
  background: #bbd;

  min-height: 150px;
  padding-top: 45vh;
}

/*hello*/
.intro {
  color: green;
}

/*projects section*/
.work {
  padding-top: 60px;
  margin-top: -60px;
}

.work .work-header {
  font-weight: 500;
  color: #088;
}

.project {
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
  /*   background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat; */
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  color: #008080;
  font-weight: bold;
  font-size: 22px;
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
  background: #e0ebe8;
  border: 2px solid #90C695;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  transition: border-radius 2s ease-in-out;
}

.show-all:hover {
  border-radius: 0;
}

@media only screen and (max-width: 600px) {
  .project {
    margin: 40px 0;
  }
}

.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #C8F7C5;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}

@media only screen and (max-width: 600px) {
  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}

footer {
  width: 100%;
  padding: 20px;
  background: steelblue;
  color: lightgray;
}
