/*global scale (I wanna say investigation)*/
a{
  all:unset;
}

html,
body {
  background-color:rgb(125,185,232);

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:darkgreen;
}
section{
  margin-top: 35%;
}
#my_body_is_a_grid {
  display: grid;
  place-items: center;
  background-color:rgb(125,185,232);
  /*this is a simple way to put everything neatly in the middle, i like it*/
}

/*nav*/
#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background: linear-gradient(to left, rgba(55,55,55,1) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 100%);
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

.nav-link:hover {
  color: lightgreen;
  background-color: #lightblue;
}

/*hello!*/
#welcome-section {
  margin-top: 0;
  background: #bbd;
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  width: 100%;
  height: 100%;
  min-height: 150px;
  padding-top: 45vh;
}

/*hello*/
.intro {
  color: green;
}

/*projects section*/
.work {
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
}

.work .work-header {
  font-weight: 500;
  color: #088;
}

.project {
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
  /*   background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat; */
}

.project-pic {

  width:100%;
  height: auto;
  border-bottom: 2px solid lightblue;
}

.project-title {
  background-color: lightblue;
  font-weight: bold;
}

.show-all {
  color: darkblue;
  font-weight: bold;
  line-height: 22px;
  font-size: 22px;
  display: block;
  width: 300px;
  margin: 0 auto;
  background: white;
  border-radius: 0;
  transition: border-radius 200ms ease-in-out;
}

.show-all:hover {
  border-radius: 50%;
  width:50%;
}

@media only screen and (max-width: 600px) {
  .project {
    margin: 40px 0;
  }
}

.contact {

  background: #C8F7C5;
  background: linear-gradient(to top, steelblue 0%,rgba(125,185,232,1) 100%);

  width:100%;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  list-style-type: none;
  border: 2px solid #996;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: #eee;
  color: #008080;
  transition:border-radius 1s ease-in-out;/*I love this effect*/
}

.contact-details:hover {
  border-radius:0px;
  background: #AAF;
  color: darkblue;
}

@media only screen and (max-width: 600px) {
  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}

footer {
  width: 100%;
  padding: 20px;
  background: steelblue;
  color: lightgray;
}
